@import '../styles/variables.scss';


.wrapper {
    display: flex;

    .stories {
        background-color: $pureBlack;
        padding: 170px 0px;
        flex: 35%;
        height: 650px;

        .line {
            position: absolute;
            width: 6px;
            height: 304px;
            left: 0px;
            top: 245px;

            background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
        }

        .container {
            margin-left: 105px;

            .title {
                line-height: 48px;
                letter-spacing: 4.17px;
            }

            .text {
                line-height: 25px;
                margin-bottom: 50px;

            }

            .inviteContainer {
                display: flex;
                // align-items: center;

                .inviteButton {
                    color: $pureWhite;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: 12px;
                    border: none;
                    background-color: transparent;
                    transition: 2s;
                    letter-spacing: 2px;

                    &:hover {
                        text-decoration: underline;
                        transition: 2s;
                    }
                }
            }
        }
    }

    .photoContainer {
        flex: 50%;
        background-image: url("../create-and-share.jpg");
        background-size: cover;
    }
}

.wrapper {
    display: flex;

    .blackBackground {
        background-color: black;

        height: 600px;
        width: 1160px;
        transition: 1s;

        &:hover {
            background-color: none;
            background-image: url("../beautiful-stories.jpg");
            background-size: cover;
            background-position: center;
            transition: 1s;

        }
    }

    .storiesContainer {
        padding: 135px 0px;
        margin-left: 110px;


        .title {
            text-transform: uppercase;
            line-height: 48px;
            font-size: 40px;
            letter-spacing: 4.17px;
            margin-bottom: 30px;
        }

        .text {
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 30px;
        }

        .viewContainer {
            display: flex;
            align-items: center;

            .view {
                cursor: pointer;
                font-size: 12px;
                letter-spacing: 2px;
                text-transform: uppercase;
                border: none;
                background-color: transparent;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                    transition: 2s;
                }
            }
        }
    }


}

.wrapperSection {
    display: flex;

    .designContainer {
        padding: 150px 0px;

        .designs {
            margin-left: 110px;
            width: 610px;

            .title {
                text-transform: uppercase;
                line-height: 48px;
                font-size: 40px;
                letter-spacing: 4.17px;
                margin-bottom: 30px;
            }

            .text {
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 30px;
            }

            .viewContainer {
                display: flex;
                align-items: center;

                .view {
                    cursor: pointer;
                    font-size: 12px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    border: none;
                    background-color: transparent;
                    font-weight: bold;
                    transition: 2s;

                    &:hover {
                        text-decoration: underline;
                        transition: 2s;
                    }
                }
            }


        }
    }

    .photoContainer {
        background-color: black;
        height: 600px;
        width: 65%;

        &:hover {
            background-color: none;
            background-image: url("../designed-for-everyone.jpg");
            background-size: cover;
            background-position: center;
            transition: 1s;

        }
    }
}

.boxContainer {
    display: flex;

    .box {
        height: 600px;
        width: 25%;
        padding: 485px 0px 30px 0px;
        position: relative;

        .wrapperBox {
            margin-left: 40px;


            .title {
                text-transform: uppercase;
                color: $pureWhite;
                font-size: 18px;
            }

            .text {
                color: $pureWhite;
                font-size: 13px;
                margin-bottom: 15px;
            }

            .lineMountains {
                position: absolute;
                width: 350px;
                height: 1px;
                left: 40px;
                bottom: 65px;
                background: #FFFFFF;
                opacity: 0.25;
            }

            .lineCityscapes {
                position: absolute;
                width: 350px;
                height: 1px;
                left: 40px;
                bottom: 65px;
                background: #FFFFFF;
                opacity: 0.25;
            }

            .lineVoyage {
                position: absolute;
                width: 350px;
                height: 1px;
                left: 40px;
                bottom: 65px;
                background: #FFFFFF;
                opacity: 0.25;
            }

            .lineArchitecture {
                position: absolute;
                width: 350px;
                height: 1px;
                left: 40px;
                bottom: 65px;
                background: #FFFFFF;
                opacity: 0.25;
            }

            .read {
                cursor: pointer;
                text-transform: uppercase;
                color: $pureWhite;
                border: none;
                background-color: transparent;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 2px;
            }

            .colorLine {
                display: none;
                position: absolute;
                width: 475.5px;
                height: 6px;
                left: 0px;
                bottom: -6px;
                background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
            }

            .colorLine2 {
                display: none;
                position: absolute;
                width: 475.5px;
                height: 6px;
                left: 0px;
                bottom: -6px;
                background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
            }

            .colorLine3 {
                display: none;
                position: absolute;
                width: 475.5px;
                height: 6px;
                left: 0px;
                bottom: -6px;
                background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
            }

            .colorLine4 {
                display: none;
                position: absolute;
                width: 475.5px;
                height: 6px;
                left: 0px;
                bottom: -6px;
                background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
            }
        }
    }

    .mountains {
        background-image: url("../mountains.jpg");
        background-size: cover;

        &:hover {
            position: relative;
            bottom: 20px;
        }

        &:hover .colorLine {
            display: block;
        }

    }

    .cityscapes {
        background-image: url("../cityscapes.jpg");
        background-size: cover;

        &:hover {
            position: relative;
            bottom: 20px;
        }

        &:hover .colorLine2 {
            display: block;
        }
    }

    .voyage {
        background-image: url("../18-days-voyage.jpg");
        background-size: cover;

        &:hover {
            position: relative;
            bottom: 20px;
        }

        &:hover .colorLine3 {
            display: block;
        }
    }

    .architecturals {
        background-image: url("../architecturals.jpg");
        background-size: cover;

        &:hover {
            position: relative;
            bottom: 20px;
        }

        &:hover .colorLine4 {
            display: block;
        }
    }
}

.informationsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;

    .box {
        margin: 0px 20px;

        .image {
            display: block;
            margin: 0px auto 50px auto;
        }

        .title {
            font-size: 18px;
            text-align: center;
            margin-bottom: 20px;
        }

        .text {
            color: $pureBlack;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
        }
    }
}