@import '../styles/variables.scss';


.wrapper {
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        flex-direction: column;
    }


    .stories {
        background-color: $pureBlack;
        padding: 170px 0px;
        width: 42%;
        height: 650px;

        @media (max-width: 768px) {
            width: 100%;
            order: 1;
        }

        .line {
            position: absolute;
            width: 6px;
            height: 304px;
            left: 0px;
            top: 245px;

            background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);

            @media (max-width: 768px) {
                /* Rectangle */

                position: absolute;
                width: 128px;
                height: 6px;
                left: 29px;
                top: 472px;

                background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);

            }

        }

        .container {
            margin-left: 105px;

            @media (max-width: 768px) {
                margin-left: 0px;
            }

            .title {
                line-height: 48px;
                letter-spacing: 4.17px;

                @media (max-width: 768px) {
                    text-align: center;
                    font-size: 32px;
                    letter-spacing: 3.33px;
                    line-height: 40px;
                }
            }

            .text {
                line-height: 25px;
                margin-bottom: 50px;


                @media (max-width: 768px) {
                    text-align: center;
                }

                @media (max-width: 375px){
                    font-size:  12px;
                }
            }

            .inviteContainer {
                display: flex;

                @media (max-width: 768px) {

                    justify-content: center;
                }

                .inviteButton {
                    color: $pureWhite;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: 12px;
                    border: none;
                    background-color: transparent;
                    transition: 2s;
                    letter-spacing: 2px;

                    &:hover {
                        text-decoration: underline;
                        transition: 2s;
                    }

                    // @media (max-width: 768px){
                    //     margin: 0 auto;
                    // }
                }
            }
        }
    }

    .photoContainer {
        width: 58%;
        background-image: url("../create-and-share.jpg");
        background-size: cover;
    }

    @media (max-width: 768px) {
        .photoContainer {
            // flex: 100%;
            width: 100%;
            height: 400px;
            background-position: center;
        }
    }
}

.wrapper {
    display: flex;

    .blackBackground {
        background-color: black;

        height: 600px;
        width: 1160px;
        transition: 1s;

        &:hover {
            background-color: none;
            background-image: url("../beautiful-stories.jpg");
            background-size: cover;
            background-position: center;
            transition: 1s;

        }

        @media (max-width: 768px) {
            width: 100%;
            background-color: none;
            background-image: url("../beautiful-stories.jpg");
            background-size: cover;
            background-position: center;
        }
    }

    .storiesContainer {
        padding: 135px 0px 0px 0px;
        margin-left: 110px;

        @media (max-width: 768px) {
            padding: 30px 0px 30px 0px;
        }

        @media (max-width: 425px) {
            margin-left: 0px;
            width: 100%;
        }


        .title {
            text-transform: uppercase;
            line-height: 48px;
            font-size: 40px;
            letter-spacing: 4.17px;
            margin-bottom: 30px;

            @media (max-width: 425px) {
                text-align: center;
                font-size: 32px;
                letter-spacing: 3.33px;
                line-height: 40px;
            }
        }

        .text {
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 30px;

            @media (max-width: 425px) {
                text-align: center;
                font-size: 12px;
                line-height: 20px;
            }
        }

        .viewContainer {
            display: flex;
            align-items: center;

            @media (max-width: 425px) {
                justify-content: center;
            }

            .view {
                cursor: pointer;
                font-size: 12px;
                letter-spacing: 2px;
                text-transform: uppercase;
                border: none;
                background-color: transparent;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                    transition: 2s;
                }
            }
        }
    }


}

.wrapperSection {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .designContainer {
        padding: 150px 0px;

        @media (max-width: 768px) {
            order: 1;
            padding: 50px 0px;
        }


        .designs {
            margin-left: 110px;
            width: 610px;

            @media (max-width: 768px) {
                width: 100%;
                margin-left: 0px;
            }


            .title {
                text-transform: uppercase;
                line-height: 48px;
                font-size: 40px;
                letter-spacing: 4.17px;
                margin-bottom: 30px;

                @media (max-width: 425px) {
                    text-align: center;
                    font-size: 32px;
                    letter-spacing: 3.33px;
                    line-height: 40px;
                }
            }

            .text {
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 30px;

                @media (max-width: 425px) {
                    text-align: center;
                    font-size: 12px;
                    line-height: 20px;
                }
            }

            .viewContainer {
                display: flex;
                align-items: center;

                @media (max-width: 425px) {
                    justify-content: center;
                }

                .view {
                    cursor: pointer;
                    font-size: 12px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    border: none;
                    background-color: transparent;
                    font-weight: bold;
                    transition: 2s;

                    &:hover {
                        text-decoration: underline;
                        transition: 2s;
                    }
                }
            }


        }
    }

    .photoContainer {
        background-color: black;
        height: 600px;
        width: 65%;

        @media (max-width: 768px) {
            width: 100%;
            background-color: none;
            background-image: url("../designed-for-everyone.jpg");
            background-size: cover;
            background-position: center;
        }

        &:hover {
            background-color: none;
            background-image: url("../designed-for-everyone.jpg");
            background-size: cover;
            background-position: center;
            transition: 1s;

        }
    }
}

.boxContainer {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .box {
        height: 600px;
        width: 25%;
        padding: 485px 0px 30px 0px;
        position: relative;

        @media (max-width: 768px) {
            width: 100%;
            height: 450px;
            padding: 0px 0px;
        }

        .wrapperBox {
            margin-left: 40px;

            @media (max-width: 768px) {
                margin-top: 335px;
            }


            .title {
                text-transform: uppercase;
                color: $pureWhite;
                font-size: 18px;


            }

            .text {
                color: $pureWhite;
                font-size: 13px;
                margin-bottom: 15px;
            }

            .lineMountains {
                position: absolute;
                width: 350px;
                height: 1px;
                left: 40px;
                bottom: 65px;
                background: #FFFFFF;
                opacity: 0.25;

                @media (max-width: 425px) {
                    width: 50%;
                }
            }

            .lineCityscapes {
                position: absolute;
                width: 350px;
                height: 1px;
                left: 40px;
                bottom: 65px;
                background: #FFFFFF;
                opacity: 0.25;

                @media (max-width: 425px) {
                    width: 50%;
                }
            }

            .lineVoyage {
                position: absolute;
                width: 350px;
                height: 1px;
                left: 40px;
                bottom: 65px;
                background: #FFFFFF;
                opacity: 0.25;

                @media (max-width: 425px) {
                    width: 50%;
                }
            }

            .lineArchitecture {
                position: absolute;
                width: 350px;
                height: 1px;
                left: 40px;
                bottom: 65px;
                background: #FFFFFF;
                opacity: 0.25;

                @media (max-width: 425px) {
                    width: 50%;
                }
            }

            .read {
                cursor: pointer;
                text-transform: uppercase;
                color: $pureWhite;
                border: none;
                background-color: transparent;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 2px;
            }

            .colorLine {
                display: none;
                position: absolute;
                width: 475.5px;
                height: 6px;
                left: 0px;
                bottom: -6px;
                background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);


            }

            .colorLine2 {
                display: none;
                position: absolute;
                width: 475.5px;
                height: 6px;
                left: 0px;
                bottom: -6px;
                background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
            }

            .colorLine3 {
                display: none;
                position: absolute;
                width: 475.5px;
                height: 6px;
                left: 0px;
                bottom: -6px;
                background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
            }

            .colorLine4 {
                display: none;
                position: absolute;
                width: 475.5px;
                height: 6px;
                left: 0px;
                bottom: -6px;
                background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
            }
        }
    }

    .mountains {
        background-image: url("../mountains.jpg");
        background-size: cover;

        &:hover {
            position: relative;
            bottom: 20px;
        }

        &:hover .colorLine {
            display: block;
        }

        @media (max-width: 768px) {
            background-position: center;
        }

    }

    .cityscapes {
        background-image: url("../cityscapes.jpg");
        background-size: cover;

        &:hover {
            position: relative;
            bottom: 20px;
        }

        &:hover .colorLine2 {
            display: block;
        }

        @media (max-width: 768px) {
            background-position: center;
        }
    }

    .voyage {
        background-image: url("../18-days-voyage.jpg");
        background-size: cover;

        &:hover {
            position: relative;
            bottom: 20px;
        }

        &:hover .colorLine3 {
            display: block;
        }

        @media (max-width: 768px) {
            background-position: center;
        }
    }

    .architecturals {
        background-image: url("../architecturals.jpg");
        background-size: cover;

        &:hover {
            position: relative;
            bottom: 20px;
        }

        &:hover .colorLine4 {
            display: block;
        }

        @media (max-width: 768px) {
            background-position: center;
        }
    }
}

.informationsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;

    @media(max-width: 768px) {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .box {
        margin: 0px 20px;

        @media(max-width: 768px) {
            width: 100%;
        }

        .image {
            display: block;
            margin: 0px auto 50px auto;
        }

        .title {
            font-size: 18px;
            text-align: center;
            margin-bottom: 20px;
        }

        .text {
            color: $pureBlack;
            font-size: 15px;
            line-height: 25px;
            text-align: center;



        }
    }
}