@import '../styles/variables.scss';

.navigation {
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;



    .wrapper {
        display: flex;
        align-items: center;

        @media(max-width: 768px) {
            display: none;
        }


        .logo {
            text-transform: uppercase;
            margin-left: 10px;
        }
    }


    .itemsContainer {
        display: flex;
        list-style: none;

        @media(max-width: 768px) {
            display: none;
        }

        .navItem {
            color: $pureBlack;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0px 35px;
            transition: 0.15s;
            letter-spacing: 2px;

            &:hover {
                color: $lightGrey;
                transition: 0.15s;
            }
        }
    }

    .invite {
        background-color: $pureBlack;
        cursor: pointer;
        color: $pureWhite;
        font-size: 12px;
        width: 158px;
        height: 40px;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        transition: 0.15s;
        letter-spacing: 2px;

        @media(max-width: 768px) {
            display: none;
        }


        &:hover {
            background-color: $lightGrey;
            color: $pureBlack;
            transition: 0.15s;
        }
    }
}