@import '../styles/variables.scss';

.navigation {
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 768px) {
        justify-content: space-between;
        padding: 10px 0px;
    }

    .wrapper {
        display: flex;
        align-items: center;


        @media (max-width: 768px) {
            margin-left: 25px;
        }

        .logo {
            text-transform: uppercase;
            margin-left: 10px;
        }
    }

    .menuIcon {
        display: none;
        cursor: pointer;
        border: none;
        background: none;

        @media (max-width: 768px) {
            display: block;
            position: absolute;
            right: 25px;
        }
    }


    .itemsContainer {
        display: flex;
        list-style: none;

        @media(max-width: 768px) {
            display: none;
        }

        .navItem {
            color: $pureBlack;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0px 35px;
            transition: 0.15s;
            letter-spacing: 2px;

            &:hover {
                color: $lightGrey;
                transition: 0.15s;
            }
        }
    }

    .invite {
        background-color: $pureBlack;
        cursor: pointer;
        color: $pureWhite;
        font-size: 12px;
        width: 158px;
        height: 40px;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        transition: 0.15s;
        letter-spacing: 2px;

        @media(max-width: 768px) {
            display: none;
        }


        &:hover {
            background-color: $lightGrey;
            color: $pureBlack;
            transition: 0.15s;
        }
    }

    .showMenus {
        display: none;
        width: 100vw;
        position: absolute;
        background-color: #fff;
        top: 70px;
        padding: 30px 0px 35px 0px;

        @media(max-width: 768px) {
            display: block;
        }

        .itemsContainers {
            list-style-type: none;
            text-align: center;

            li {
                margin-bottom: 15px;
            }
        }

        .showNavItems {
            list-style: none;
            text-decoration: none;
            color: #000;
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 2.5px;
            text-align: center;
            font-weight: bold;
        }

        .line {
            display: block;
            width: 200px;
            margin: 0 auto;
            height: 1px;
            background: #000000;
            mix-blend-mode: normal;
            opacity: 0.25;
        }

        .showInvites {
            display: block;
            cursor: pointer;
            margin: 15px auto;
            text-transform: uppercase;
            color: #fff;
            font-size: 15px;
            letter-spacing: 2.5px;
            border: none;
            background-color: $pureBlack;
            width: 200px;
            height: 48px;
        }
    }
}